BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "pData[0]" SITE "31" ;
IOBUF PORT "pData[7]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=SMALL ;
IOBUF PORT "pData[6]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=SMALL ;
LOCATE COMP "pData[5]" SITE "37" ;
IOBUF PORT "pData[5]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=SMALL ;
LOCATE COMP "pData[4]" SITE "36" ;
IOBUF PORT "pData[4]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=SMALL ;
LOCATE COMP "pData[3]" SITE "35" ;
IOBUF PORT "pData[3]" IO_TYPE=LVCMOS25 DRIVE=4 CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=SMALL SLEWRATE=FAST PULLMODE=NONE ;
LOCATE COMP "pData[2]" SITE "34" ;
IOBUF PORT "pData[2]" IO_TYPE=LVCMOS25 DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=SMALL PULLMODE=NONE ;
LOCATE COMP "pData[1]" SITE "32" ;
IOBUF PORT "pData[1]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=SMALL ;
IOBUF PORT "pData[0]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=SMALL ;
IOBUF PORT "portRD" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "portWR" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "outPort[7]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "outPort[6]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "outPort[5]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "outPort[4]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "outPort[3]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "outPort[2]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "outPort[1]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "outPort[0]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "p[16]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "p[15]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "p[14]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "p[13]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "p[12]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "p[11]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "p[10]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "p[9]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "p[8]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "p[7]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "p[6]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "p[5]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "p[4]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "p[3]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "p[2]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "p[1]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "p[0]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "RD" IO_TYPE=LVCMOS25 DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA PULLMODE=NONE ;
IOBUF PORT "WR" IO_TYPE=LVCMOS25 PULLMODE=NONE CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA DRIVE=4 SLEWRATE=FAST ;
IOBUF PORT "pc_pins[17]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "pc_pins[16]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "pc_pins[15]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "pc_pins[14]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "pc_pins[13]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "pc_pins[12]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "pc_pins[11]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "pc_pins[10]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "pc_pins[9]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "pc_pins[8]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "pc_pins[7]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "pc_pins[6]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "pc_pins[5]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "pc_pins[4]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "pc_pins[3]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "pc_pins[2]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "pc_pins[1]" IO_TYPE=LVCMOS25 DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA PULLMODE=NONE ;
IOBUF PORT "pc_pins[0]" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "inPort[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "inPort[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "inPort[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "inPort[4]" IO_TYPE=LVCMOS33 DRIVE=NA SLEWRATE=NA CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA PULLMODE=NONE ;
IOBUF PORT "inPort[3]" IO_TYPE=LVCMOS33 DRIVE=NA SLEWRATE=NA CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA PULLMODE=NONE ;
IOBUF PORT "inPort[2]" IO_TYPE=LVCMOS33 CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA PULLMODE=NONE DRIVE=NA SLEWRATE=NA ;
IOBUF PORT "inPort[1]" IO_TYPE=LVCMOS33 CLAMP=OFF BANK_VCCIO=2.5 PULLMODE=NONE DRIVE=NA SLEWRATE=NA OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA ;
IOBUF PORT "inPort[0]" IO_TYPE=LVCMOS33 DRIVE=NA SLEWRATE=NA CLAMP=OFF BANK_VCCIO=2.5 OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA PULLMODE=NONE ;
IOBUF PORT "incoming" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "bfup_clk" IO_TYPE=LVCMOS33 SLEWRATE=NA CLAMP=OFF BANK_VCCIO=2.5 DRIVE=NA PULLMODE=NONE OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA ;
IOBUF PORT "reset" IO_TYPE=LVCMOS33 DRIVE=NA SLEWRATE=NA CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA PULLMODE=DOWN ;
IOBUF PORT "instruction[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "instruction[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "instruction[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "instruction[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "instruction[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "instruction[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "instruction[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
IOBUF PORT "instruction[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA ;
LOCATE COMP "pData[6]" SITE "38" ;
LOCATE COMP "pData[7]" SITE "39" ;
LOCATE COMP "bfup_clk" SITE "8" ;
LOCATE COMP "inPort[0]" SITE "4" ;
LOCATE COMP "inPort[1]" SITE "3" ;
LOCATE COMP "inPort[2]" SITE "2" ;
LOCATE COMP "inPort[3]" SITE "1" ;
LOCATE COMP "inPort[4]" SITE "99" ;
LOCATE COMP "inPort[5]" SITE "98" ;
LOCATE COMP "inPort[6]" SITE "97" ;
LOCATE COMP "inPort[7]" SITE "96" ;
LOCATE COMP "incoming" SITE "76" ;
LOCATE COMP "instruction[0]" SITE "57" ;
LOCATE COMP "instruction[1]" SITE "58" ;
LOCATE COMP "instruction[2]" SITE "59" ;
LOCATE COMP "instruction[3]" SITE "49" ;
LOCATE COMP "instruction[4]" SITE "48" ;
LOCATE COMP "instruction[5]" SITE "47" ;
LOCATE COMP "instruction[6]" SITE "45" ;
LOCATE COMP "instruction[7]" SITE "43" ;
LOCATE COMP "reset" SITE "7" ;
LOCATE COMP "RD" SITE "41" ;
LOCATE COMP "WR" SITE "19" ;
LOCATE COMP "pc_pins[0]" SITE "54" ;
LOCATE COMP "pc_pins[1]" SITE "53" ;
LOCATE COMP "pc_pins[2]" SITE "52" ;
LOCATE COMP "pc_pins[3]" SITE "51" ;
LOCATE COMP "pc_pins[4]" SITE "75" ;
LOCATE COMP "pc_pins[5]" SITE "74" ;
LOCATE COMP "pc_pins[6]" SITE "71" ;
LOCATE COMP "pc_pins[7]" SITE "70" ;
LOCATE COMP "pc_pins[8]" SITE "63" ;
LOCATE COMP "pc_pins[9]" SITE "62" ;
LOCATE COMP "pc_pins[10]" SITE "42" ;
LOCATE COMP "pc_pins[11]" SITE "60" ;
LOCATE COMP "pc_pins[12]" SITE "69" ;
LOCATE COMP "pc_pins[13]" SITE "64" ;
LOCATE COMP "pc_pins[14]" SITE "65" ;
LOCATE COMP "pc_pins[15]" SITE "68" ;
LOCATE COMP "pc_pins[16]" SITE "67" ;
LOCATE COMP "pc_pins[17]" SITE "66" ;
LOCATE COMP "outPort[0]" SITE "81" ;
LOCATE COMP "outPort[1]" SITE "82" ;
LOCATE COMP "outPort[2]" SITE "83" ;
LOCATE COMP "outPort[3]" SITE "84" ;
LOCATE COMP "outPort[4]" SITE "85" ;
LOCATE COMP "outPort[5]" SITE "86" ;
LOCATE COMP "outPort[6]" SITE "87" ;
LOCATE COMP "outPort[7]" SITE "88" ;
LOCATE COMP "p[0]" SITE "30" ;
LOCATE COMP "p[1]" SITE "29" ;
LOCATE COMP "p[2]" SITE "28" ;
LOCATE COMP "p[3]" SITE "27" ;
LOCATE COMP "p[4]" SITE "10" ;
LOCATE COMP "p[5]" SITE "12" ;
LOCATE COMP "p[6]" SITE "13" ;
LOCATE COMP "p[7]" SITE "14" ;
LOCATE COMP "p[8]" SITE "21" ;
LOCATE COMP "p[9]" SITE "24" ;
LOCATE COMP "p[10]" SITE "40" ;
LOCATE COMP "p[11]" SITE "25" ;
LOCATE COMP "p[12]" SITE "15" ;
LOCATE COMP "p[14]" SITE "16" ;
LOCATE COMP "p[13]" SITE "20" ;
LOCATE COMP "p[15]" SITE "18" ;
LOCATE COMP "p[16]" SITE "17" ;
LOCATE COMP "portRD" SITE "77" ;
LOCATE COMP "portWR" SITE "78" ;
VOLTAGE 2.375 V;
OUTPUT PORT "RD" LOAD 0.000000 pF ;
SSO PORT "RD"  SSO_Noise=0 SSO_Noise_Drop=-0 SSO_Allowance=100 ;
OUTPUT PORT "pc_pins[0]" LOAD 0.000000 pF ;
SSO PORT "pc_pins[0]"  SSO_Noise=0 SSO_Noise_Drop=-0 SSO_Allowance=100 ;
OUTPUT PORT "pc_pins[1]" LOAD 0.000000 pF ;
SSO PORT "pc_pins[1]"  SSO_Noise=0 SSO_Noise_Drop=-0 SSO_Allowance=100 ;
OUTPUT PORT "pc_pins[2]" LOAD 0.000000 pF ;
SSO PORT "pc_pins[2]"  SSO_Noise=0 SSO_Noise_Drop=-0 SSO_Allowance=100 ;
OUTPUT PORT "pc_pins[3]" LOAD 0.000000 pF ;
SSO PORT "pc_pins[3]"  SSO_Noise=0 SSO_Noise_Drop=-0 SSO_Allowance=100 ;
OUTPUT PORT "pc_pins[4]" LOAD 0.000000 pF ;
SSO PORT "pc_pins[4]"  SSO_Noise=0 SSO_Noise_Drop=-0 SSO_Allowance=100 ;
FREQUENCY NET "bfup_clk_c" 100.000000 MHz PAR_ADJ 20.00000 ;
USE PRIMARY NET "bfup_clk_c" ;
